.premade-option-container {
  width: 70%;
  aspect-ratio: 1/1;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 1%;
}

.option-image {
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.option-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.option-title {
  height: 15%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
